<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <a class="navbar-brand">Lansite</a>
        <div class="navbar-brand device-count" style="text-align: center;">
            Napok Hátra: <span id="deviceNumber">3</span>
        </div>
        <div class="navbar-brand ido"></div>
    </div>
</div>

<script>
    // ===== 24 Hr =====
    function updateTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        document.querySelector('.ido').textContent = `${hours}:${minutes}:${seconds}`;
    }
    setInterval(updateTime, 1000);
    updateTime();

</script>
