<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Lansite</title>
    <style>
        /* ====== HEADER BUG FIX ====== */
        .navbar,
        header {
            background: #001f4d !important; 
            box-shadow: none !important;
            border: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }

        body > div:first-child {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
        .container:first-of-type {
            margin-top: 100px !important; 
        }
    </style>
</head>

<body>
    <div class="container">
        {{#each popups}}
            {{{this.template}}}
        {{/each}}
        {{>navbar}}
        <br>
        <br>
        {{{body}}}
        <footer class="footer">
        </footer>
        <!--/.row-->
    </div>
    <!-- /container -->

    {{>scripts_base}}
    {{>scripts_stream}}

    {{#each boxes}}
        {{{this.template}}}
    {{/each}}

</body>

</html>
